# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
*.xcuserstate
*.xccheckout

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Android / Gradle
.gradle/
local.properties
**/build/

# IDEs
.idea/
*.iml

# Logs / env
*.log
.env
