included:
  - Reguerta
  - ReguertaTests
  - ReguertaUITests

excluded:
  - Reguerta.xcodeproj
  - Reguerta.xcworkspace
  - .build
  - DerivedData
  - Pods

line_length:
  warning: 160
  error: 220

file_length:
  warning: 1000
  error: 4000

type_body_length:
  warning: 350
  error: 2000

function_body_length:
  warning: 50
  error: 300

cyclomatic_complexity:
  warning: 10
  error: 100

reporter: "xcode"
